{% extends 'partials/body.html' %}
{% load static %}


{% block contenido %}
<section class="mt-5">

    <div class="container container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-6">
                <img src="{% static 'img/inicio de sesion.jpeg' %} " class="img-fluid" alt="inicio de sesion">
            </div>
            <div class="col-6">
                <div class="p-5">
                    <div class="text-center">
                        <h4 class="text-dark mb-4">Bienvenido de Nuevo!</h4>
                    </div>
                    <form class="user" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{form.username}}
                        </div>
                        <div class="mb-3">
                            {{form.password}}
                        </div>
                        <div class="mb-3">
                            <div class="custom-control custom-checkbox small">
                                <div class="form-check"><input id="formCheck-1"
                                        class="form-check-input custom-control-input" type="checkbox" /><label
                                        class="form-check-label custom-control-label" for="formCheck-1">Recuérdame
                                        </label></div>
                            </div>
                        </div><input type="submit" class="btn btn-primary d-block btn-user w-100" value="Iniciar Sesión">
                    </form>
                    <div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a></div>
                    <div class="text-center"><a class="small" href="register.html">Create an Account!</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}