{% load static %}
<!-- Aquí empieza el footer -->
<footer class="bg-dark text-light py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <p>Derechos reservados &copy; 2023</p>
            </div>
            <div class="col-md-6">
                <p class="mb-0">Teléfono: 123-456-7890  info@tudominio.com Dirección: Calle 123, Ciudad, Estado</p>
<!--                 <p class="mb-0">Correo electrónico: info@tudominio.com</p>
                <p class="mb-0">Dirección: Calle 123, Ciudad, Estado</p> -->
            </div>
            <div class="col-md-3">
                <h5>Redes sociales</h5>
                <ul class="list-unstyled  ">
                    <li class="d-inline pr-3" ><a href="https://www.facebook.com/tu-pagina-de-facebook" target="_blank"><i
                                class="fab fa-facebook"></i></a></li>
                    <li class="d-inline pr-3"><a href="https://www.twitter.com/tu-cuenta-de-twitter" target="_blank"><i
                                class="fab fa-twitter"></i></a></li>
                    <li class="d-inline pr-5"><a href="https://www.instagram.com/tu-cuenta-de-instagram" target="_blank"><i
                                class="fab fa-instagram"></i></a></li>
                    <li class="d-inline pr-2"><a href="https://www.linkedin.com/tu-página-de-linkedin" target="_blank"><i
                                class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Aquí termina el footer -->