{% load static %}

    <!-- Content Header (Page header) -->
    <div class="content-header">
            <br>
            <br>
            <br>
            <br>
            <br>
          
            
        <div class="container-fluid">
            <div class="row"></div>
          <div class="row mb-2 justify-content-start">
            <div class="col ">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'index-admin' %}">Inicio</a></li>
                <li class="breadcrumb-item active"> {{titulo}} </li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  